<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="content" th:remove="tag">
	<div class="m-2">
		<label>Short Description</label>
		<!-- th:utext refers to unescape text in thymeleaf. use it if you want to show the formatted text from the db -->
		<div th:utext="${product.shortDescription}" class="border p-2 m-2"></div>
	</div>
	
	<div class="m-2">
		<label>Full Description</label>
		<div th:utext="${product.fullDescription}" class="border p-2 m-2"></div>
	</div>	
</div>
</body>
</html>