<!-- For viewing order details -->

<div class="modal-header">
	<h4 class="modal-title">Order Details</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>


<div class="modal-lg">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item" role="presentation">
			    <a class="nav-link active"   data-toggle="tab" href="#overview" role="tab">Overview</a>
			    
			  </li>
			  <li class="nav-item" role="presentation">
			    <a class="nav-link"  data-toggle="tab" href="#product" role="tab">Product</a>
			  </li>
			    <li class="nav-item" role="presentation">
			    <a class="nav-link"  data-toggle="tab" href="#shipping" role="tab" >Shipping</a>
			  </li>
			  <li class="nav-item" role="presentation">
			    <a class="nav-link"  data-toggle="tab" href="#track" role="tab" >Track</a>
			  </li>
			
			</ul>
			
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active p-3" id="overview" role="tabpanel">
					
			  		<div th:replace="orders/order_overview :: content"></div>
			  </div>
			  <div class="tab-pane p-3" id="product" role="tabpanel">
			  
					<div th:replace="orders/order_product :: content"></div>
			  </div>
	  
			   <div class="tab-pane p-3" id="shipping" role="tabpanel">
			 
			  		<div th:replace="orders/order_shipping :: content"></div>
			  </div>
			  <div class="tab-pane p-3" id="track" role="tabpanel">
			 
			  		<div th:replace="orders/order_tracking :: content"></div>
			  </div>
			 
			</div>
			
</div>


<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>